<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>post_detail.html</title>
  <style>.container{text-align: center;}</style>

  <!-- Bootstrap 読み込み-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <!-- <h1>これはpost_detail.htmlページ</h1> -->
  <!-- 動作確認{{ post_id }} -->
  <!-- objectから取り出す -->
  <!-- {{ post.title }}
  {{ post.published }}
  {{ post.body }} -->

  <!-- index.htmlからコピー -->
    <!-- {{ post.title }}
    <br /><br />
    {{ post.published }}
    <br /><br />
    <img src="{{ post.image.url }}">
    {{ post.summary }}
    <br /><br /> -->

<!-- Bootstrap NavbarScroll -->
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="./../">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./">About</a>
        </li>
    </div>
  </div>
</nav>
<!-- ここまでBootstrap NavbarScroll -->

<div class="container">
  <br />
  <!-- プロジェクトurlsで定義した'post_detail'という名のページを呼び出す -->
    <h1>{{ post.title }}</h1>

    {{ post.published }}
    <br /><br />
    
    <!-- img-fluid= Bootstrapのレスポンシブデザインライブラリ -->
    <img src="{{ post.image.url }}" class="img-fluid" style="max-height: 200px;">
    
    <br /><br />
    {{ post.body }}
    <br /><br />

    <a href="./../">indexへ戻る</a>
    
    <!-- Bootstrap 読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
  </div>
</body>
</html>